<html>
	<head>
		<title>Tutor Joes</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	</head>
	<body>
	<h1>Update User Details</h1>
		<form action='' method='post'>
			<label>Name:</label>
			<input type="text" name="name" value="{{datas.NAME}}"   required>
			<label>Age:</label>
			<input type="text" name="age" value="{{datas.AGE}}"  required>
			<label>City:</label>
			<input type="text" name="city" value="{{datas.CITY}}"  required>
			<input type='submit' value='Update Details'>
		</form>
	</body>
</html>